@use "colors";

.text-container {
  margin: 0 auto;
  color: colors.$light;
  text-align: center;
  font-size: 3em;
  font-family: "Nunito Sans";
  z-index: 1;

  .title {
    font-size: 1.5rem;
    text-transform: capitalize;
    line-height: 2rem;
    color: colors.$highlight;
    font-weight: 400;
  }

  .description {
    font-size: 0.8rem;
    font-style: oblique;
    font-family: colors.$secondary-font;
  }
}

.landing {
  min-width: 100%;
}

.hero-btn {
  padding: 0.5rem 1rem 0.5rem 1rem;
  background: transparent;
  color: colors.$light;
  border: 2px solid colors.$light;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: none;
  margin: 1rem auto;

  svg path {
    stroke: colors.$light;
    stroke-width: 3px;
  }

  .btn-text {
    font-size: 1rem;
  }

  &:hover {
    background: colors.$highlight;
    color: colors.$dark;
    font-weight: 600;
    border-color: colors.$highlight;

    svg path {
      stroke: colors.$dark;
    }
  }
}

.wip {
  position: fixed;
  bottom: 0;
  right: 5rem;
  display: none;

  img {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .text-container {
    .title {
      display: block;
      margin-bottom: 2rem;
    }
  }
}
