@use 'colors';

.text-container {
    margin: 0 auto;
    color: colors.$light;
    text-align: center;
    font-size: 3em;
    font-family: "Nunito Sans";
    z-index: 1;

    .title {
        font-size: 1.5rem;
        text-transform: capitalize;
        line-height: 2rem;
        font-weight: 400;
    }
}

.landing {
    background-color: colors.$dark;
    min-width: 100%;
}

.hero-btn {
    padding: 0.5rem 1rem 0.5rem 1rem;
    background: transparent;
    color: colors.$light;
    border: 2px solid colors.$light;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: none;
    margin: 1rem auto;

    svg path{
        stroke: colors.$light;
        stroke-width: 3px;
    }

    .btn-text {
        font-size: 1rem;
    }

    &:hover {
        background: colors.$highlight;
        color: colors.$dark;
        font-weight: 600;
        border-color: colors.$highlight;

        svg path {
            stroke: colors.$dark;
        }
    }
}

.wip {
    position: fixed;
    bottom: 0;
    right: 5rem;

    img {
        width: 200px;
        height: 200px;
    }
}