:root {
    --dark: #3B0404;
    --base: #DEB3AD;
    --midtone: #B95C50;
    --primary: #DE847B;
    --white: #FFF;
    --primary-font: 'M PLUS 1 Code', monospace;
    --decorative-font: 'Rubik Doodle Shadow', system-ui;
}

body {
    margin: 0;
}

section {
    min-height: 100vh;
    height: 100vh;
    width: 100%;
}

.fs-1 {
    font-size: 9rem;
    line-height: 9rem;
}

.fs-2 {
    font-size: 8rem;
    line-height: 8rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.layout {
    max-width: 1152px;
    margin: 0 auto;
    padding: 1rem;
}

.landing-section {
     background-color: var(--dark); 
}

.landing-layout {
    margin: 0 auto;
    gap: 2rem;
}

.large-text {
    font-family: var(--primary-font);
    color: var(--base);
    transform: translateY(-9rem);
    transition: transform .5s;
}

.content {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.char {
    transform: translateY(8rem);
    transition: transform .5s;
}

.header-content {
    font-family: var(--primary-font);
    text-align: center;
    color: var(--base);
}

.seperator {
    font-family: var(--decorative-font);
    font-size: 15rem;
    color: var(--primary);
    line-height: 15rem;
    text-shadow: -2px 2px var(--dark);
}

.content-holder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;
}

@media screen and (max-width: 767px) {
    .large-text {
        font-size: 8rem;
        line-height: 8rem;
    }
    .header-content {
        font-size: 6rem;
        line-height: 6rem;
    }
    .seperator {
        font-size: 12rem;
        line-height: 12rem;
    }
}

/* About Section */
#about-section {
    font-style: var(--primary-font);
}

.about-content {
    color: var(--dark);
    gap: 2rem;
    height: 100%;
    align-items: center;
}

.profile-description {
    text-align: center;
    padding: 2rem;
    flex-grow: 1;
    width: 50%;
}

.profile-description h1 {
    text-transform: uppercase;
    font-size: 3rem;
}

.profile-img {
    width: 40%;
    background-image: url("assets/img/developer.jpg");
    background-position: center;
    position: relative;
}

.profile-img img {
    width: 100%;
}

.box {
    border: 12px solid var(--dark);
    border-radius: 5px;
}

/* Header */
/*header {
    width: fit-content;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    padding: 2rem;
}

header button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    text-align: center;
    background-color: var(--primary);
    box-shadow: -2px 1px var(--base);
}

header button img {
    width: 40px;
    height: 40px;
} */
