:root {
    --dark: #191919;
    --base: #e6e8e6;
    --midtone: #ced0ce;
    --highlight: #f15025;
    --light: #ffffff;
    --primary-font: 'Lato', sans-serif;
    --secondary-font: 'Passion One', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-style: var(--primary-font);
}

section {
    min-height: 100vh;
    height: 100vh;
    width: 100%;
}

.base-bg {
    background-color: var(--base);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.landing-section {
    justify-content: center;
    position: relative;
    background-image: url("../../assets/img/black-background.jpg"), url("../../assets/img/mesh.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

.container {
    max-width: 1152px;
    margin: 0 auto;
    padding: 1rem;
}

.container-fluid {
    padding: 0 3rem;
}
.content-container {
    text-transform: uppercase;
    align-self: center;
    align-items: center;
    width: fit-content;
    flex-grow: 1;
    color: var(--base);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.content {
    font-style: var(--secondary-font);
    font-size: 10rem;
    line-height: 8rem;
}

.content:hover {
    text-shadow: 2px 2px 2px var(--highlight);
}

.btn-container {
    padding: 2%;
    align-self: center;
}

.btn-container button {
    background: none;
    border: 3px solid var(--midtone);
    color: var(--midtone);
    padding: 1.5rem 3rem;
    font-weight: bolder;
    text-transform: capitalize;
    border-radius: 40px;
    font-size: 1.25rem;
    position: relative;
    overflow: hidden;
}

.btn-container button:hover {
    color: var(--dark);
    background-color: var(--highlight);
    border: 3px solid var(--highlight);
    cursor: pointer;
}

.img-container {
    height: max-content !important;
    position: relative;
}

.img-container .img {
    padding: 2%;
}

.img img {
    height: 50vh;
}

.about {
    min-height: 100%;
    box-sizing: border-box;
}

.about .image-holder{
    display: flex;
    padding: 1.5rem;
    max-width: 50%;
    justify-content: center;
    align-items: center;
}

.about .image-holder img {
    width: 100%;
}

.about .profile-description {
    font-family: var(--primary-font);
    font-size: 1rem;
    line-height: 1.5rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: justify;
}

.profile-description h1 {
    font-size: 3.5rem;
    font-family: var(--secondary-font);
}

@keyframes ripple {
    to {
      transform: scale(2);
      opacity: 0;
    }
}