@use 'colors';

header {
    position: fixed;
    width: 100%;
    text-align: end;

    .menu-container {
        max-width: 1152px;
        margin: 0 auto;
    }

    ul {
        list-style: none;
    }

    li {
        display: inline;
        font-size: 1.25rem;
        margin-right: 1rem;
        color: colors.$light;
        box-sizing: border-box;

        span {
            padding: 5px 10px;

            &:hover {
                border-bottom: 2px solid colors.$highlight;
            }
        }
    }
}