<footer>
  <div class="footer-container">
    <div class="left-pane">
      <span class="credit">Website by Gokul Deep K K</span>
      <a href="https://www.freepik.com/search">Icon by UIcons</a>
    </div>
    <div class="right-pane">
      <div class="media-links">
        <a
          *ngFor="let media of mediaLinks"
          [href]="media.link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg-icon [path]="media.logo"></svg-icon>
        </a>
      </div>
    </div>
  </div>
</footer>
