@use "colors";

.profile {
    width: auto;
    min-width: 100vw;
    background-color: colors.$midtone;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: initial;
    padding: 5vh;
    box-sizing: border-box;

    .profile-summary {
        justify-content: space-evenly;
        display: flex;
        flex-direction: row;
    }

    .description {
        height: 50%;
        width: 30vw;
        align-self: center;
        padding: 1rem;
    }

    .skill-set {
        height: 80vh;
        width: 25vw;
        display: flex;
        justify-content: space-evenly;
    }
}

#circular-cursor {
    border-color: colors.$dark;
}