@use "colors";

// .skill {
//     background-color: colors.$base;
//     clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
//     width: 100px;
//     height: 100px;

//     .skill-name {
//         text-align: center;
//         top: 50%;
//     }
// }
$size: 125px;

.skill {
  width: $size;
  height: $size;
  border-radius: 50%;
  background: linear-gradient(colors.$base 0 0) var(--p,0)/var(--p,0) no-repeat;
  position: relative;
  transition: .4s,background-position 0s;

  .skill-name {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .skill-title {
      display: none;
    }

    .skill-logo {
      height: 100%;
      align-items: center;
      display: flex;
      img {
        height: 75%;
      }
    }
  }

  &:hover {
    --p: 100%;

    &:after {
      border-top: 28.8675px solid colors.$highlight;
    }
    &:before {
      border-bottom: 28.8675px solid colors.$highlight;
    }
    .skill-name {
      .skill-title {
        display: block;
      }
      .skill-logo {
        display: none;
      }
    }
  }
}
