/* Common Colors */
$dark: #333652;
$footerDark: #313342;
$base: #e9eaec;
$midtone: #90adc6;
$highlight: #fad02c;
$light: #ffffff;
$grey: #333;
$primary-font: "Lato", sans-serif;
$secondary-font: "Passion One", sans-serif;
